<mat-card class="wrapper" appearance="raised">
  <mat-accordion>
    <!-- Channels Section -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Channels
        </mat-panel-title>
      </mat-expansion-panel-header>

      <!-- Liste aller Channels -->
      <mat-list>
        <mat-list-item *ngFor="let channel of channels$ | async" (click)="selectChannel(channel)">
          {{ channel.name }}
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>

    <!-- Users Section -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Users
        </mat-panel-title>
      </mat-expansion-panel-header>

      <!-- Liste aller Benutzer -->
      <mat-list>
        <mat-list-item *ngFor="let user of users$ | async" (click)="selectUser(user)">
          {{ user.username }}
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>
  </mat-accordion>

</mat-card>
