.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin: auto;
  width: 100%;
}



form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  flex: 1;
  max-height: 100%;
  overflow: auto;
  padding: 20px;
  margin: auto;
}

mat-accordion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;

  mat-expansion-panel {
    width: 100%;
    background-color: #f2f6ff;
  }
}

mat-selection-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

::ng-deep mat-expansion-panel-header span.mat-content {
  display: flex;
  flex: 1;
  flex-direction: row;
  overflow: hidden;
  align-items: center;
}

.statusCircle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
}

.online {
  background-color: rgb(0, 201, 0);
}

.offline {
  background-color: #888;
}

.away {
  background-color: orange;
}

.busy {
  background-color: red;
}
