@import "assets/fonts/raleway/raleway.scss";
@import "@angular/material/prebuilt-themes/azure-blue.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font:
    400 16px "Raleway",
    sans-serif;

  scroll-behavior: smooth;

  /* Custom Scrollbar Styles for WebKit Browsers (Chrome, Safari, Edge) */
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #777;
  }

  /* Custom Scrollbar Styles for Firefox */
  scrollbar-width: thin; /* Make scrollbar thinner */
  scrollbar-color: #999 #f1f1f1; /* Thumb color and track color */

  /* When hovering over the scrollbar in Firefox */
  &:hover {
    scrollbar-color: #777 #f1f1f1;
  }
}
