.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 25px;
  padding: 20px;
  height: 100%;
}

.message-container {
  height: 100%;
  max-height: calc(100% - 100px);
  flex-grow: 1;
  overflow-y: auto;
}

p {
  font-size: 14px;
  font-weight: 400;
}

.own-message {
  cursor: pointer;
  display: flex;
  align-items: flex-end;
  width: fit-content;
  align-self: flex-end;

  &:hover {
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.2));
  }

  mat-card-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
  }
}

.other-message {
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  width: fit-content;
  align-self: flex-start;

  &:hover {
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.2));
  }

  mat-card-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
  }
}

.own-message-header {
  display: flex;
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
  margin-bottom: 15px;

  mat-card-title{
    display: flex;
    flex-direction: row-reverse;
    font-size: 16px;
    font-weight: 400;
    gap: 10px;
    padding: 0;
  }

  img {
    margin: 0;
  }
}

.other-message-header {
  display: flex;
  align-items: center;
  width: 100%;
  display: flex;
  gap: 10px;
  margin-bottom: 15px;

  mat-card-title {
    display: flex;
    font-size: 16px;
    font-weight: 400;
    gap: 10px;
    padding: 0;
  }

  img {
    margin: 0;
  }
}

.noMessages {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.messageBox {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  height: 100px;
}

form {
  display: flex;
  align-items: center;
  width: 100%;
}

.message-input-container {
  display: flex;
  align-items: center;
  border-radius: 20px;
  border: 1px solid #ccc;
  padding: 5px 10px;
  width: 100%;
  background-color: white;
}

.message-textarea {
  flex-grow: 1;
  border: none;
  outline: none;
  resize: none;
  max-height: 200px;
  overflow-y: auto;
  padding: 10px;
  font-size: 14px;
}

.message-textarea:focus {
  outline: none;
}

.message-actions {
  display: flex;
  gap: 5px;
}

.send-button {
  align-self: flex-end;
  margin-left: 10px;
}
