<mat-card class="wrapper">
  <div class="message-container" #scrollMe>
    <ng-container *ngIf="messages$ | async as messages">
      <ng-container *ngIf="messages.length > 0; else noMessages">
        <mat-card class="message" *ngFor="let message of messages; trackBy: trackById" [ngClass]="{
          'own-message': message.userId === currentUser.id,
          'other-message': message.userId !== currentUser.id
        }" appearance="raised">

          <!-- Nachricht Header mit Avatar, Name, Zeit und Menü -->
          <mat-card-header [ngClass]="{'reverse-layout': message.userId === currentUser.id}">
            <div class="messageHeader">
              <!-- Avatar und Name/Uhrzeit -->
              <div class="messageAvaterAndInfo"> <!--flex-direction row-reverse if own message-->
                <img mat-card-avatar [src]="getAvatarUrl(message.userId)" alt="Avatar" />
                <div class="messageInfo">
                  <mat-card-title>
                    <span>
                      {{ message.userId === currentUser.id ? 'Du' : message.username }}
                    </span>

                    <span class="date">
                      {{ message.createdAt.toDate().toLocaleTimeString('de-DE', { hour: '2-digit', minute: '2-digit' })
                      }}
                    </span>
                  </mat-card-title>
                </div>
              </div>

              <!-- Menü für Nachrichtenaktionen -->
              <div class="messageMenuBtn">
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="menu for the message">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu" yPosition="below" xPosition="before">
                  <button mat-menu-item (click)="startEditMessage(message)">
                    <mat-icon>edit</mat-icon>
                    <span>Edit</span>
                  </button>
                  <button mat-menu-item (click)="deleteMessage(selectedChannelId!, message.id!)">
                    <mat-icon>delete</mat-icon>
                    <span>Delete</span>
                  </button>
                </mat-menu>
              </div>
            </div>
          </mat-card-header>

          <!-- Bearbeitungsmodus -->
          <mat-card-content class="editContainer" *ngIf="editingMessageId === message.id">
            <mat-form-field>
              <mat-label>Edit message</mat-label>
              <textarea matInput [formControl]="editMessageFormControl"></textarea>
            </mat-form-field>
            <mat-card-actions>
              <button mat-raised-button color="primary" (click)="saveEditedMessage()">Save</button>
              <button mat-raised-button (click)="cancelEditMessage()">Cancel</button>
            </mat-card-actions>
          </mat-card-content>

          <!-- Normale Anzeige, wenn nicht im Bearbeitungsmodus -->
          <mat-card-content [ngClass]="{'own-message-content': message.userId === currentUser.id}" *ngIf="editingMessageId !== message.id">
            <p>{{ message.content }}</p>
          </mat-card-content>
        </mat-card>
      </ng-container>


    </ng-container>

    <!-- No messages -->
    <ng-template #noMessages>
      <div class="noMessages">
        <p>No messages yet.</p>
        <p>
          Click on a channel or person to start chatting.
        </p>

      </div>
    </ng-template>
  </div>

  <!-- Nachrichteneingabefeld -->
  <mat-card class="messageBox">
    <mat-card-content>
      <form (ngSubmit)="addMessage()">
        <div class="message-input-container">
          <textarea matInput [formControl]="messageFormControl" placeholder="Nachricht an #Office-team"
            class="message-textarea" rows="1" (keydown.enter)="sendMessage($event)">
        </textarea>

          <!-- Icons and action buttons -->
          <div class="message-actions">
            <button mat-icon-button aria-label="Add file">
              <mat-icon>add</mat-icon>
            </button>
            <button mat-icon-button aria-label="Emoji">
              <mat-icon>emoji_emotions</mat-icon>
            </button>
            <button mat-icon-button aria-label="Mention">
              <mat-icon>alternate_email</mat-icon>
            </button>
          </div>
        </div>
        <button mat-icon-button color="primary" type="submit" class="send-button" aria-label="Send message">
          <mat-icon>send</mat-icon>
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</mat-card>
